keycode   1 = Escape
keycode   2 = exclam           one
keycode   3 = quotedbl         two
keycode   4 = numbersign       three
	control	keycode   4 = Escape
keycode   5 = dollar           four
	control	keycode   5 = Control_backslash
keycode   6 = percent          five
	control	keycode   6 = Control_bracketright
keycode   7 = ampersand        six
	control	keycode   7 = Control_underscore
keycode   8 = apostrophe       seven
keycode   9 = parenleft        eight
keycode  10 = parenright       nine
keycode  11 = underscore       zero
	control	keycode  11 = nul
keycode  12 = minus            equal
keycode  13 = asciicircum      asciitilde
	control	keycode  13 = Control_asciicircum
keycode  14 = Delete
	control	keycode  14 = BackSpace

keycode  15 = Tab
	shift	keycode  15 = Meta_Tab
keycode  16 = q
keycode  17 = w
keycode  18 = f
keycode  19 = p
keycode  20 = g
keycode  21 = j
keycode  22 = l
keycode  23 = u
keycode  24 = y
keycode  25 = semicolon        plus
keycode  26 = at               grave
	control	keycode  26 = nul
keycode  27 = braceleft        bracketleft
	control	keycode  27 = Escape
keycode  28 = Return
	alt	keycode  28 = Meta_Control_m

keycode  58 = Control
keycode  30 = a
keycode  31 = r
keycode  32 = s
keycode  33 = t
keycode  34 = d
keycode  35 = h
keycode  36 = n
keycode  37 = e
keycode  38 = i
keycode  39 = o
keycode  40 = colon            asterisk
	control keycode  40 = Control_g
keycode  43 = braceright       bracketright
	control	keycode  43 = Control_bracketright

keycode  42 = Shift
keycode  86 = backslash        bar
keycode  44 = z
keycode  45 = x
keycode  46 = c
keycode  47 = v
keycode  48 = b
keycode  49 = k
keycode  50 = m
keycode  51 = comma            less
keycode  52 = period           greater
	control	keycode  52 = Compose
keycode  53 = slash            question
	control	keycode  53 = Delete
	shift	control	keycode  53 = Delete
keycode  54 = Shift

keycode  41 = Escape
keycode  56 = Alt
keycode  57 = space
	control	keycode  57 = nul
keycode  89 = backslash        underscore
	control	keycode  89 = Control_backslash
keycode  29 = Control
keycode  92 = space
keycode  94 = space
keycode  97 = Control
keycode 124 = backslash        bar
	c
